pydub==0.25.1
gigaam @ git+https://github.com/salute-developers/GigaAM.git
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.5.0+cpu
torchaudio>=2.5.0+cpu
torchcodec>=0.13.0+cpu
optimum>=1.20.0
optimum-intel[openvino,nncf]>=1.16.0
transformers>=4.42.0
psycopg2-binary==2.9.9
mysql-connector-python>=8.0.33
sqlalchemy>=2.0.0
python-dotenv>=1.0.1
omegaconf
streamlit>=1.35.0
pandas==2.2.2
plotly==5.22.0
librosa==0.10.2
soundfile==0.12.1
deepfilternet==0.5.6
